# --- System Environment Configurations ---
.env
.env.production
.env.development
*.local

# --- Build and Dependency Output ---
node_modules/
dist/
dist-ssr/
*.jar
*.war

# --- Logs ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- Editor Directories and IDE Settings ---
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
